version: '3.8'

services:
  db:
    image: postgres
    container_name: 'db'
    restart: always
    environment:
      POSTGRES_PASSWORD: W79V8Y6WbG9tiBeo
      POSTGRES_USER: spendee
      POSTGRES_DB: spendee
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: 'pgadmin'
    restart: always
    ports:
      - 8888:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@email.com
      PGADMIN_DEFAULT_PASSWORD: W79V8Y6WbG9tiBeo
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  postgres-data:
  pgadmin-data:
